<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <script src="https://kit.fontawesome.com/5bd46391e5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 id="main-heading">TODO App</h1>
    <form action="/create/newtodo" method="post">
        <span id="discription" class="form-block">
            <label for="dis">DISCRIPTION</label>
            <textarea name="discription" id="dis" placeholder="What do you need to do ?" cols="30" rows="3"></textarea>
        </span>
        <span id="category-date">
            <span class="form-block">
                <label for="select-category">CATEGORY</label>
                <select name="category" id="select-category">
                    <option>Chose A Category</option>
                    <option value="Personal">Personal</option>
                    <option value="Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Other">Other</option>
                </select>
            </span>
            <span class="form-block">
                <label for="date">DATE</label>
                <input type="date" id="date" name="date">
            </span>
        </span>
        <span id="btn">
            <button type="submit" id="add-task"><b>+</b> Add task</button>
            <a href="/delete/delete_todo" id="db"><button type="button" id="delete-task">Delete Task</button></a>
        </span>
    </form>
    <div>
        <ul id="todo-list">
            <% for (let i of todo_list){%>
                <li class="list-item">
                    <div class="check-box" >
                        <input type="checkbox" class="cb" data-info='<%=i._id %>'>
                    </div>
                    <div class="dis-date">
                        <p class="disc"><%= i.discription%></p>
                        <p style="margin-top: 0px;"><i class="fa-regular fa-calendar-days">&nbsp;&nbsp;</i><%= i.date%></p>
                    </div>
                    <div class="cat-egory">
                        <%= i.category%>
                    </div>
                </li>
                <%}%>
        </ul>
    </div>
    <script src="/js/home.js"></script>
</body>

</html>